@import url("common.css");

@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}

/* Some client-wide overrides. */
.message-empty {
    text-align: center;
}

.form-horizontal label, .form-inline label {
    font-weight: bold;
}

/* Unless otherwise indicated, most tables with headers will be sortable.
   Override in more specific CSS rules if necessary. */
table > thead > tr > th {
    cursor: pointer;
}
