@import url("common.css");

@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}

/* Some client-wise overrides. */
.message-empty {
    text-align: center;
}

.form-horizontal label, .form-inline label {
    font-weight: bold;
}
