@charset "UTF-8";

body {
    padding-top: 60px;
}

#loginContainer {
    margin-top: 30px;
}

#IEMessage {
    display: none;
}

/* Error messages. */
#loginPanel ul {
    color: rgb(168, 46, 53);
    font-size: 120%;
    font-weight: bold;
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
}
