/* Dual purpose CSS, serving both StudentViewPage and StudentWriterPage. */
.form-horizontal {
    padding-top: 18px;
}

.form-inline label, .form-inline input {
    margin-right: 0.5em;
}

tbody > tr > td {
    cursor: pointer;
}

label.checkbox[for="student-active"] {
    margin-left: 0.5em;
    margin-top: -2px;
}

input#student-active {
    margin-top: 5px;
}

/* Some table width customization for events (first column displays event date). */
#student-attendance {
    table-layout: fixed;
}

#student-attendance td:first-child {
    width: 25%;
}

#student-thesis-container .well {
    text-align: center;
}

/* These are for draggable objects in StudentWriterPage. */
.ui-sortable-helper {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 0 0 8px lightgray;
    cursor: default;
}

.ui-sortable-helper > td {
    border-style: none;
}
