/* Dual purpose CSS, serving both StudentViewPage and StudentWriterPage. */
.message-empty {
    text-align: center;
}

.form-horizontal {
    padding-top: 18px;
}

.form-horizontal label, .form-inline label {
    font-weight: bold;
}

.form-inline label, .form-inline input {
    margin-right: 0.5em;
}

#student-thesis-container .well {
    text-align: center;
}

#student-thesis-inmajor {
    margin-left: 1ex;
}
